In [1]:
import pandas as pd

In [2]:
main = pd.read_csv('../Datasets/Population_India/india_population.csv')

In [3]:
main.head()

,Year,Population,Yearly % Change,Yearly Change,Migrants (net),Median Age,Fertility Rate,Density (P/Km²),Urban Pop %,Urban Population,Country's Share of World Pop,World Population,India Global Rank
0,2020,1380004385,0.99,13586631,-532687,28.4,2.24,464,35.0,483098640,17.70,7794798739,2
1,2019,1366417754,1.02,13775474,-532687,27.1,2.36,460,34.5,471828295,17.71,7713468100,2
2,2018,1352642280,1.04,13965495,-532687,27.1,2.36,455,34.1,460779764,17.73,7631091040,2
3,2017,1338676785,1.07,14159536,-532687,27.1,2.36,450,33.6,449963381,17.74,7547858925,2
4,2016,1324517249,1.10,14364846,-532687,27.1,2.36,445,33.2,439391699,17.75,7464022049,2

In [4]:
main.columns

Index(['Year', 'Population', 'Yearly % Change', 'Yearly Change',
       'Migrants (net)', 'Median Age', 'Fertility Rate', 'Density (P/Km²)',
       'Urban Pop %', 'Urban Population', 'Country's Share of World Pop',
       'World Population', 'India Global Rank'],
      dtype='object')

In [5]:
main.isna().sum()

Year                            0
Population                      0
Yearly % Change                 0
Yearly Change                   0
Migrants (net)                  0
Median Age                      0
Fertility Rate                  0
Density (P/Km²)                 0
Urban Pop %                     0
Urban Population                0
Country's Share of World Pop    0
World Population                0
India Global Rank               0
dtype: int64

In [6]:
main['Migrants (net)']

0    -532687
1    -532687
2    -532687
3    -532687
4    -532687
5    -470015
6    -531169
7    -377797
8    -136514
9    -110590
10      9030
11    115942
12    222247
13    421208
14    -68569
15    -17078
16    -30805
17    -21140
Name: Migrants (net), dtype: int64

In [7]:
main.shape

(18, 13)

In [8]:
main['Median Age']

0     28.4
1     27.1
2     27.1
3     27.1
4     27.1
5     26.8
6     25.1
7     23.8
8     22.7
9     21.8
10    21.1
11    20.6
12    20.2
13    19.7
14    19.3
15    19.6
16    20.2
17    20.7
Name: Median Age, dtype: float64

In [9]:
main["Country's Share of World Pop"]

0     17.70
1     17.71
2     17.73
3     17.74
4     17.75
5     17.75
6     17.74
7     17.54
8     17.20
9     16.78
10    16.39
11    16.10
12    15.68
13    15.27
14    15.00
15    14.95
16    14.85
17    14.78
Name: Country's Share of World Pop, dtype: float64