In [1]:
import pandas as pd
from scipy import stats
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
Wsum = pd.read_csv('../Datasets/Weather/Weather_summary.csv')

In [57]:
Wsum.head()

,STA,Date,Precip,MaxTemp,MinTemp,MeanTemp,Snowfall,YR,MO,DA,PRCP,MAX,MIN,MEA,SNF,Month,Year
0,10001,1942-07-01,1.016,25.555556,22.222222,23.888889,0.0,42,7,1,0.04,78.0,72.0,75.0,0.0,7,1942
1,10001,1942-07-02,0,28.888889,21.666667,25.555556,0.0,42,7,2,0.00,84.0,71.0,78.0,0.0,7,1942
2,10001,1942-07-03,2.54,26.111111,22.222222,24.444444,0.0,42,7,3,0.10,79.0,72.0,76.0,0.0,7,1942
3,10001,1942-07-04,2.54,26.666667,22.222222,24.444444,0.0,42,7,4,0.10,80.0,72.0,76.0,0.0,7,1942
4,10001,1942-07-05,0,26.666667,21.666667,24.444444,0.0,42,7,5,0.00,80.0,71.0,76.0,0.0,7,1942

In [5]:
Wstat = pd.read_csv('../Datasets/Weather/Weather_stations.csv')

In [58]:
Wstat.head()

,WBAN,NAME,STATE/COUNTRY ID,LAT,LON,ELEV,Latitude,Longitude
0,33013,AIN EL,AL,3623N,00637E,611,36.383333,6.650000
1,33031,LA SENIA,AL,3537N,00037E,88,35.616667,0.583333
2,33023,MAISON BLANCHE,AL,3643N,00314E,23,36.716667,3.216667
3,33044,TELERGMA,AL,3607N,00621E,754,36.116667,6.416667
4,12001,TINDOUF,AL,2741N,00809W,443,27.683333,-8.083333

In [7]:
Wsum.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Wsum.columns[:10]

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR'],
      dtype='object')

In [9]:
import datetime

In [10]:
dates = pd.to_datetime(Wsum['Date'])

In [11]:
dates

0        1942-07-01
1        1942-07-02
2        1942-07-03
3        1942-07-04
4        1942-07-05
            ...
119035   1945-12-27
119036   1945-12-28
119037   1945-12-29
119038   1945-12-30
119039   1945-12-31
Name: Date, Length: 119040, dtype: datetime64[ns]

In [12]:
Wsum['Date'] = dates

In [13]:
months = Wsum['Date'].dt.month

In [14]:
months

0          7
1          7
2          7
3          7
4          7
          ..
119035    12
119036    12
119037    12
119038    12
119039    12
Name: Date, Length: 119040, dtype: int64

In [15]:
years = Wsum['Date'].dt.year

In [16]:
Wsum['Month'] = months
Wsum['Year'] = years

In [17]:
Wsum[['Month', 'Year']]

        Month  Year
0           7  1942
1           7  1942
2           7  1942
3           7  1942
4           7  1942
...       ...   ...
119035     12  1945
119036     12  1945
119037     12  1945
119038     12  1945
119039     12  1945

[119040 rows x 2 columns]

In [18]:
Wsum.columns[:10]

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR'],
      dtype='object')

In [19]:
Wsum.isna().sum()

STA                 0
Date                0
Precip              0
WindGustSpd    118508
MaxTemp             0
MinTemp             0
MeanTemp            0
Snowfall         1163
PoorWeather     84803
YR                  0
MO                  0
DA                  0
PRCP             1932
DR             118507
SPD            118508
MAX               474
MIN               468
MEA               498
SNF              1163
SND            113477
FT             119040
FB             119040
FTI            119040
ITH            119040
PGT            118515
TSHDSBRSGF      84803
SD3            119040
RHX            119040
RHN            119040
RVG            119040
WTE            119040
Month               0
Year                0
dtype: int64

In [20]:
Wsum.drop(['RVG', 'RHX', 'RHN', 'WTE', 'SD3', 'PGT', 'SND', 'FT', 'FB', 'FTI'], axis=1, inplace=True)

In [21]:
Wsum.drop(['ITH', 'TSHDSBRSGF', 'DR', 'SPD', 'WindGustSpd'],axis=1, inplace=True)

In [22]:
Wsum.isna().sum()

STA                0
Date               0
Precip             0
MaxTemp            0
MinTemp            0
MeanTemp           0
Snowfall        1163
PoorWeather    84803
YR                 0
MO                 0
DA                 0
PRCP            1932
MAX              474
MIN              468
MEA              498
SNF             1163
Month              0
Year               0
dtype: int64

In [23]:
Wsum['PoorWeather'].unique()

array([nan, '1', '1     1', '1 1', '1     1  1', '1  1', '1        1',
       '0', '1   1 1', '1    1', '1     0', '1000', '1001', '100000',
       '1000001000', '101000', '101001', '1000001001', '1000101001',
       '100001', '1000000000', '1000101000', '1010001000', '1000100000',
       '1000100001', '1010001001', '10001001', '11', '11 1', '11    1',
       '1100000', '1 1  1', '1 0  1', '1 0', '1   1 1  1', '1000000',
       '1101000', '1101001', '1   1', 1.0], dtype=object)

In [56]:
Wsum['PRCP'].unique()[:10]

array([0.04, 0.  , 0.1 , 0.15, 0.14, 0.02, 0.01, 0.07, 0.13, 0.03])

In [25]:
Wsum['Snowfall'].mode()

0    0.0
Name: Snowfall, dtype: object

In [26]:
Wsum['Snowfall'].fillna(Wsum['Snowfall'].mode()[0], inplace=True)

In [27]:
Wsum.drop(['PoorWeather'], axis=1, inplace=True)

In [28]:
Wsum.isna().sum()

STA            0
Date           0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
YR             0
MO             0
DA             0
PRCP        1932
MAX          474
MIN          468
MEA          498
SNF         1163
Month          0
Year           0
dtype: int64

In [29]:
Wsum.PRCP

0         0.04
1            0
2          0.1
3          0.1
4            0
          ...
119035       0
119036    0.39
119037       0
119038       0
119039       0
Name: PRCP, Length: 119040, dtype: object

In [30]:
Wsum[Wsum['PRCP']=='T']['PRCP']

6         T
8         T
15        T
16        T
17        T
         ..
119001    T
119006    T
119014    T
119018    T
119031    T
Name: PRCP, Length: 16753, dtype: object

In [31]:
Wsum.isna().sum()

STA            0
Date           0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
YR             0
MO             0
DA             0
PRCP        1932
MAX          474
MIN          468
MEA          498
SNF         1163
Month          0
Year           0
dtype: int64

In [32]:
Wsum['MAX']=Wsum['MAX'].fillna(Wsum['MAX'].mean())
Wsum['MIN']=Wsum['MIN'].fillna(Wsum['MIN'].mean())
Wsum['MEA']=Wsum['MEA'].fillna(Wsum['MEA'].mean())

In [33]:
Wsum['SNF'].unique()

array([0.0, nan, '0', '0.9', '1.3', '1.2', '0.1', '0.2', '0.4', '0.3',
       '0.8', '0.6', '0.7', '0.5', '1', '1.1', '1.7', '1.5', '1.8', '2.1',
       '2.3', '2.6', '3', '3.2', '2.9', '2.5', '2', '1.9', '2.4', '2.2',
       '1.4', '3.1', '1.6', '3.4', '3.3', '2.7', 'T', 0.4, 0.3, 0.6, 0.1,
       0.2, 0.5], dtype=object)

In [34]:
Wsum[Wsum['SNF']=='T']['SNF'].shape

(44,)

In [35]:
Wsum = Wsum[Wsum['SNF']!='T']

In [36]:
Wsum['SNF'].unique()

array([0.0, nan, '0', '0.9', '1.3', '1.2', '0.1', '0.2', '0.4', '0.3',
       '0.8', '0.6', '0.7', '0.5', '1', '1.1', '1.7', '1.5', '1.8', '2.1',
       '2.3', '2.6', '3', '3.2', '2.9', '2.5', '2', '1.9', '2.4', '2.2',
       '1.4', '3.1', '1.6', '3.4', '3.3', '2.7', 0.4, 0.3, 0.6, 0.1, 0.2,
       0.5], dtype=object)

In [37]:
Wsum['SNF']=Wsum['SNF'].astype(float)

In [38]:
Wsum['SNF'].isna().sum()

1163

In [39]:
Wsum['SNF'].median()

0.0

In [40]:
Wsum['SNF']=Wsum['SNF'].fillna(0.0)

In [41]:
Wsum.isna().sum()

STA            0
Date           0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
YR             0
MO             0
DA             0
PRCP        1932
MAX            0
MIN            0
MEA            0
SNF            0
Month          0
Year           0
dtype: int64

In [42]:
Wsum[Wsum['PRCP']!='T']['PRCP'].astype(float).mean()

0.1506661882549934

In [43]:
rows_to_replace = Wsum['PRCP'].isin(['T'])

In [44]:
Wsum['PRCP'].loc[rows_to_replace] = 0.15

In [55]:
Wsum['PRCP'].unique()[:10]

array([0.04, 0.  , 0.1 , 0.15, 0.14, 0.02, 0.01, 0.07, 0.13, 0.03])

In [47]:
Wsum['PRCP'].isna().sum()

1932

In [53]:
Wsum['PRCP'] = Wsum['PRCP'].astype(float)

In [52]:
Wsum['PRCP'] = Wsum['PRCP'].fillna(0.15)

In [54]:
Wsum.isna().sum()

STA         0
Date        0
Precip      0
MaxTemp     0
MinTemp     0
MeanTemp    0
Snowfall    0
YR          0
MO          0
DA          0
PRCP        0
MAX         0
MIN         0
MEA         0
SNF         0
Month       0
Year        0
dtype: int64

In [62]:
len(Wsum['STA'].unique())

159

In [63]:
Wstat.columns

Index(['WBAN', 'NAME', 'STATE/COUNTRY ID', 'LAT', 'LON', 'ELEV', 'Latitude',
       'Longitude'],
      dtype='object')

In [64]:
Wstat.WBAN

0      33013
1      33031
2      33023
3      33044
4      12001
       ...
156    33109
157    33121
158    33003
159    33307
160    15027
Name: WBAN, Length: 161, dtype: int64

In [68]:
Wstat['NAME']=Wstat['NAME'].str.strip()
Wstat['NAME']=Wstat['NAME'].str.lower()

In [69]:
Wstat['NAME']

0              ain el
1            la senia
2      maison blanche
3            telergma
4             tindouf
            ...
156         el aquina
157           el djem
158        sisi ahmed
159             adana
160        warrington
Name: NAME, Length: 161, dtype: object

In [70]:
Wstat.head()

,WBAN,NAME,STATE/COUNTRY ID,LAT,LON,ELEV,Latitude,Longitude
0,33013,ain el,AL,3623N,00637E,611,36.383333,6.650000
1,33031,la senia,AL,3537N,00037E,88,35.616667,0.583333
2,33023,maison blanche,AL,3643N,00314E,23,36.716667,3.216667
3,33044,telergma,AL,3607N,00621E,754,36.116667,6.416667
4,12001,tindouf,AL,2741N,00809W,443,27.683333,-8.083333

In [71]:
Wstat['STATE/COUNTRY ID'].unique()

array(['AL', 'AT', 'AU', 'AZ', 'BA', 'BE', 'BN', 'BR', 'BZ', 'CS', 'CT',
       'CU', 'DR', 'DY', 'EG', 'EQ', 'ER', 'ET', 'FJ', 'FR', 'GH', 'GL',
       'GR', 'GU', 'GY', 'HA', 'HI', 'IL', 'IN', 'IQ', 'IR', 'IY', 'JM',
       'JP', 'KO', 'KU', 'LC', 'LI', 'LY', 'MC', 'MT', 'NG', 'NH', 'NI',
       'NK', 'NU', 'NZ', 'OM', 'PF', 'PH', 'PI', 'PK', 'PM', 'PQ', 'PR',
       'SG', 'SO', 'SP', 'TD', 'TI', 'TO', 'TS', 'TU', 'UK'], dtype=object)

In [72]:
Wsum.STA

0         10001
1         10001
2         10001
3         10001
4         10001
          ...
119035    82506
119036    82506
119037    82506
119038    82506
119039    82506
Name: STA, Length: 118996, dtype: int64

In [73]:
Wsum.to_csv('../Datasets/Summary_modified.csv')

In [75]:
Wsum.groupby('Year').MaxTemp.agg('mean')

Year
1940    28.643374
1941    26.040898
1942    24.253492
1943    27.533621
1944    27.301928
1945    27.199395
Name: MaxTemp, dtype: float64

In [76]:
Wsum.groupby('Year').MinTemp.agg('mean')

Year
1940    20.580737
1941    18.670987
1942    16.637207
1943    18.263540
1944    17.783003
1945    17.606836
Name: MinTemp, dtype: float64

In [77]:
Wsum.groupby('Year').MeanTemp.agg('mean')

Year
1940    24.616934
1941    22.361530
1942    20.409443
1943    22.893026
1944    22.544667
1945    22.395374
Name: MeanTemp, dtype: float64

In [78]:
Wsum.groupby(['Year', 'Month']).MaxTemp.agg('mean')

Year  Month
1940  1        27.174432
      2        27.199074
      3        27.795699
      4        28.407407
      5        28.716846
                 ...
1945  8        30.239131
      9        29.225452
      10       26.798229
      11       24.827868
      12       22.713625
Name: MaxTemp, Length: 72, dtype: float64

In [79]:
Wsum.groupby(['Year', 'Month']).MinTemp.agg('mean')

Year  Month
1940  1        18.291517
      2        17.928241
      3        17.824373
      4        19.737037
      5        20.770609
                 ...
1945  8        21.168948
      9        20.214463
      10       17.700930
      11       15.989758
      12       14.080482
Name: MinTemp, Length: 72, dtype: float64

In [80]:
Wsum.groupby(['Year', 'Month']).MeanTemp.agg('mean')

Year  Month
1940  1        22.718041
      2        22.557870
      3        22.788530
      4        24.081481
      5        24.770609
                 ...
1945  8        25.709965
      9        24.663043
      10       22.250502
      11       20.415268
      12       18.399646
Name: MeanTemp, Length: 72, dtype: float64