In [1]:
import pandas as pd
from scipy import stats
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
Wsum = pd.read_csv('../Datasets/Weather/Weather_summary.csv')

In [4]:
Wsum

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119035,82506,1945-12-27,0,NaN,28.333333,18.333333,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119036,82506,1945-12-28,9.906,NaN,29.444444,18.333333,23.888889,0.0,1.0,45,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
119037,82506,1945-12-29,0,NaN,28.333333,18.333333,23.333333,0.0,1.0,45,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
119038,82506,1945-12-30,0,NaN,28.333333,18.333333,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119039,82506,1945-12-31,0,NaN,29.444444,17.222222,23.333333,0.0,NaN,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Wstat = pd.read_csv('../Datasets/Weather/Weather_stations.csv')

In [6]:
Wstat

,WBAN,NAME,STATE/COUNTRY ID,LAT,LON,ELEV,Latitude,Longitude
0,33013,AIN EL,AL,3623N,00637E,611,36.383333,6.650000
1,33031,LA SENIA,AL,3537N,00037E,88,35.616667,0.583333
2,33023,MAISON BLANCHE,AL,3643N,00314E,23,36.716667,3.216667
3,33044,TELERGMA,AL,3607N,00621E,754,36.116667,6.416667
4,12001,TINDOUF,AL,2741N,00809W,443,27.683333,-8.083333
...,...,...,...,...,...,...,...,...
156,33109,EL AQUINA,TS,3651N,01015E,4,36.850000,10.016667
157,33121,EL DJEM,TS,3520N,01040E,9999,35.333333,10.066667
158,33003,SISI AHMED,TS,3712N,00950E,4,37.200000,9.083333
159,33307,ADANA,TU,3659N,03518E,20,36.983333,35.016667
160,15027,WARRINGTON,UK,5323N,00239W,27,53.383333,-2.050000

In [7]:
Wsum.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Wsum.columns[:10]

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR'],
      dtype='object')

In [9]:
import datetime

In [10]:
dates = pd.to_datetime(Wsum['Date'])

In [11]:
dates

0        1942-07-01
1        1942-07-02
2        1942-07-03
3        1942-07-04
4        1942-07-05
            ...
119035   1945-12-27
119036   1945-12-28
119037   1945-12-29
119038   1945-12-30
119039   1945-12-31
Name: Date, Length: 119040, dtype: datetime64[ns]

In [12]:
Wsum['Date'] = dates

In [13]:
months = Wsum['Date'].dt.month

In [14]:
months

0          7
1          7
2          7
3          7
4          7
          ..
119035    12
119036    12
119037    12
119038    12
119039    12
Name: Date, Length: 119040, dtype: int64

In [15]:
years = Wsum['Date'].dt.year

In [16]:
Wsum['Month'] = months
Wsum['Year'] = years

In [17]:
Wsum[['Month', 'Year']]

        Month  Year
0           7  1942
1           7  1942
2           7  1942
3           7  1942
4           7  1942
...       ...   ...
119035     12  1945
119036     12  1945
119037     12  1945
119038     12  1945
119039     12  1945

[119040 rows x 2 columns]

In [18]:
Wsum.columns[:10]

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR'],
      dtype='object')

In [19]:
Wsum.isna().sum()

STA                 0
Date                0
Precip              0
WindGustSpd    118508
MaxTemp             0
MinTemp             0
MeanTemp            0
Snowfall         1163
PoorWeather     84803
YR                  0
MO                  0
DA                  0
PRCP             1932
DR             118507
SPD            118508
MAX               474
MIN               468
MEA               498
SNF              1163
SND            113477
FT             119040
FB             119040
FTI            119040
ITH            119040
PGT            118515
TSHDSBRSGF      84803
SD3            119040
RHX            119040
RHN            119040
RVG            119040
WTE            119040
Month               0
Year                0
dtype: int64

In [20]:
Wsum.drop(['RVG', 'RHX', 'RHN', 'WTE', 'SD3', 'PGT', 'SND', 'FT', 'FB', 'FTI'], axis=1, inplace=True)

In [21]:
Wsum.drop(['ITH', 'TSHDSBRSGF', 'DR', 'SPD', 'WindGustSpd'],axis=1, inplace=True)

In [22]:
Wsum.isna().sum()

STA                0
Date               0
Precip             0
MaxTemp            0
MinTemp            0
MeanTemp           0
Snowfall        1163
PoorWeather    84803
YR                 0
MO                 0
DA                 0
PRCP            1932
MAX              474
MIN              468
MEA              498
SNF             1163
Month              0
Year               0
dtype: int64

In [23]:
Wsum['PoorWeather'].unique()

array([nan, '1', '1     1', '1 1', '1     1  1', '1  1', '1        1',
       '0', '1   1 1', '1    1', '1     0', '1000', '1001', '100000',
       '1000001000', '101000', '101001', '1000001001', '1000101001',
       '100001', '1000000000', '1000101000', '1010001000', '1000100000',
       '1000100001', '1010001001', '10001001', '11', '11 1', '11    1',
       '1100000', '1 1  1', '1 0  1', '1 0', '1   1 1  1', '1000000',
       '1101000', '1101001', '1   1', 1.0], dtype=object)

In [24]:
Wsum['PRCP'].unique()

array(['0.04', '0', '0.1', 'T', '0.14', '0.02', '0.01', '0.07', '0.13',
       '0.03', '0.22', '0.2', '0.08', '1.01', '1.58', '0.75', '0.94',
       '0.16', '0.48', '0.11', '1.31', '0.76', '1.88', '0.25', '0.12',
       '0.33', '0.4', '1.07', '1.2', '1.78', '0.42', '0.61', '2.27',
       '2.29', '0.45', '1.23', '0.7', '1.06', '1.05', '0.26', '0.21',
       '0.19', '0.3', '0.34', '0.31', '0.49', '3.58', '0.53', '0.47',
       '0.23', '0.17', '0.24', '0.36', '0.18', '0.39', '0.38', '0.06',
       '0.55', '0.68', '1.32', '0.05', '0.54', '0.32', '0.88', '1.54',
       '1.42', '3.86', '0.15', '0.59', '3.08', '5.76', '0.58', '0.86',
       '4.76', '1.66', '0.92', '0.83', '1.77', '0.09', nan, '1.97',
       '0.69', '2.01', '0.28', '1', '0.29', '0.64', '1.84', '0.35',
       '0.97', '0.46', '0.67', '5.7', '0.71', '2', '4.19', '1.44', '2.1',
       '1.37', '0.51', '1.04', '3.37', '1.87', '0.5', '0.44', '2.33',
       '1.33', '1.61', '1.11', '0.98', '0.57', '2.82', '4.02', '1.24',
       '1.43', '1.49', '1.4', '1.25', '1.93', '2.75', '1.45', '0.77',
       '5.02', '2.55', '4.14', '0.63', '2.96', '5.65', '2.4', '2.7',
       '2.2', '0.93', '4.97', '2.77', '0.27', '0.66', '0.95', '2.08',
       '0.99', '2.94', '0.65', '2.56', '2.04', '0.52', '1.19', '1.18',
       '8.5', '0.84', '3.03', '1.16', '0.37', '0.62', '1.81', '1.62',
       '1.91', '1.3', '0.41', '0.74', '0.56', '2.69', '3.16', '2.79',
       '1.41', '0.9', '1.22', '0.82', '1.34', '0.79', '1.08', '2.45',
       '1.47', '2.18', '2.9', '0.72', '4.52', '2.22', '10.77', '1.09',
       '4.39', '3.99', '4.73', '4.59', '2.61', '1.29', '2.17', '1.21',
       '1.82', '2.68', '2.46', '2.86', '8.02', '0.6', '2.41', '1.92',
       '0.43', '2.15', '3.22', '1.5', '1.48', '0.73', '1.96', '1.27',
       '3.72', '2.67', '1.63', '0.89', '1.71', '1.1', '2.42', '1.02',
       '2.13', '2.07', '1.85', '7', '1.14', '4.7', '1.75', '3.36', '3.77',
       '3.62', '1.51', '1.56', '3.15', '1.59', '1.39', '3.49', '2.59',
       '5.37', '3.07', '4.6', '2.97', '2.74', '1.68', '1.55', '0.81',
       '1.57', '1.69', '1.52', '6.12', '5.54', '5.84', '0.78', '2.39',
       '3.82', '2.28', '2.87', '2.58', '2.83', '0.85', '0.87', '1.35',
       '1.38', '1.7', '1.99', '0.8', '2.78', '2.65', '1.12', '1.26',
       '1.89', '3', '1.46', '1.9', '1.73', '3.02', '2.05', '2.06', '4.74',
       '3.17', '2.5', '4.96', '4.58', '1.83', '3.01', '1.36', '1.67',
       '1.15', '3.2', '0.96', '2.31', '4.26', '6.84', '1.95', '8.87',
       '8.12', '6.38', '3.43', '3.47', '4.08', '3.26', '3.69', '1.13',
       '3.9', '2.44', '2.02', '4.37', '3.7', '4.23', '0.91', '3.64',
       '2.25', '3.31', '1.6', '2.47', '1.64', '1.28', '1.98', '1.03',
       '2.12', '2.91', '2.54', '1.53', '3.34', '4.09', '1.65', '2.24',
       '3.23', '2.62', '2.37', '2.09', '2.14', '1.8', '1.17', '1.72',
       '2.64', '2.76', '2.73', '3.42', '3.39', '2.3', '2.92', '2.71',
       '3.85', '1.76', '2.51', '2.21', '2.6', '3.38', '2.53', '3.35',
       '4.84', '1.74', '9.12', '3.27', '4.79', '2.23', '2.03', '4.47',
       '2.99', '4.03', '2.16', '3.11', '2.98', '3.73', '1.86', '2.93',
       '6', '2.81', '3.12', '5.12', '3.84', '3.91', '9.4', '4.05', '3.24',
       '3.71', '4.95', '2.34', '4.41', '7.18', '5', '3.48', '8.32',
       '3.25', '4.24', '2.89', '4.9', '6.45', '4.25', '2.48', '4.67',
       '5.38', '2.19', '3.98', '3.56', '2.26', '3.88', '3.57', '3.76',
       '6.28', '4.07', '5.49', '9.25', '5.25', '3.95', '2.49', '2.88',
       '3.21', '6.2', '2.52', '3.05', '3.04', '2.35', '2.8', '4.89',
       '2.36', '4.11', '9.97', '3.41', '1.94', '3.06', '4.87', '4.2',
       '3.83', '1.79', '4.98', '2.11', '4.88', '2.57', '3.65', '3.14',
       '6.56', '2.95', '3.75', '2.43', '5.85', '9.8', '3.96', '5.82',
       '10.12', '12.1', '7.25', '3.44', '5.31', '8.14', '4.36', '3.13',
       '2.66', '3.19', '3.52', '6.47', '4.01', '3.55', '5.3', '2.32',
       '3.3', '4.8', '2.72', '3.61', '2.38', '4.15', '5.63', '5.43',
       '3.46', '3.5', '4.44', '3.09', '2.84', '7.66', '4.43', '5.28',
       '5.07', '3.28', '3.81', '6.64', '3.1', '4.62', '3.18', '4.93',
       '7.19', '5.22', '8.26', '4.57', '3.51', '5.1', '3.79', '3.4',
       '4.63', '3.29', '3.66', '4.33', '3.63', '5.88', '2.63', '4.81',
       '9.18', '7.89', '4.92', '3.54', '5.51', '7.26', '3.6', '3.53',
       '3.97', '4', '4.71', '3.87', '3.74', '5.23', '3.32', '5.14',
       '3.93', '4.32', '3.59', '3.8', '4.18', '2.85', '4.12', '9.39',
       '5.48', '5.21', '4.45', '6.89', '4.91', '5.91', '4.94', '4.72',
       '5.27', '6.59', '4.51', '4.54', '3.33', '7.29', '4.13', '4.38',
       '6.49', '4.68', '6.6', '6.43', '4.4', '4.1', '7.65', '5.52',
       '4.34', '6.03', '6.5', '9.54', '6.09', '4.17', '5.24', '6.34'],
      dtype=object)

In [25]:
Wsum['Snowfall'].mode()

0    0.0
Name: Snowfall, dtype: object

In [26]:
Wsum['Snowfall'].fillna(Wsum['Snowfall'].mode()[0], inplace=True)

In [27]:
Wsum.drop(['PoorWeather'], axis=1, inplace=True)

In [28]:
Wsum.isna().sum()

STA            0
Date           0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
YR             0
MO             0
DA             0
PRCP        1932
MAX          474
MIN          468
MEA          498
SNF         1163
Month          0
Year           0
dtype: int64

In [29]:
Wsum.PRCP

0         0.04
1            0
2          0.1
3          0.1
4            0
          ...
119035       0
119036    0.39
119037       0
119038       0
119039       0
Name: PRCP, Length: 119040, dtype: object

In [30]:
Wsum[Wsum['PRCP']=='T']['PRCP']

6         T
8         T
15        T
16        T
17        T
         ..
119001    T
119006    T
119014    T
119018    T
119031    T
Name: PRCP, Length: 16753, dtype: object

In [31]:
Wsum.isna().sum()

STA            0
Date           0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
YR             0
MO             0
DA             0
PRCP        1932
MAX          474
MIN          468
MEA          498
SNF         1163
Month          0
Year           0
dtype: int64

In [32]:
Wsum['MAX']=Wsum['MAX'].fillna(Wsum['MAX'].mean())
Wsum['MIN']=Wsum['MIN'].fillna(Wsum['MIN'].mean())
Wsum['MEA']=Wsum['MEA'].fillna(Wsum['MEA'].mean())

In [33]:
Wsum['SNF'].unique()

array([0.0, nan, '0', '0.9', '1.3', '1.2', '0.1', '0.2', '0.4', '0.3',
       '0.8', '0.6', '0.7', '0.5', '1', '1.1', '1.7', '1.5', '1.8', '2.1',
       '2.3', '2.6', '3', '3.2', '2.9', '2.5', '2', '1.9', '2.4', '2.2',
       '1.4', '3.1', '1.6', '3.4', '3.3', '2.7', 'T', 0.4, 0.3, 0.6, 0.1,
       0.2, 0.5], dtype=object)

In [34]:
Wsum[Wsum['SNF']=='T']['SNF'].shape

(44,)

In [35]:
Wsum = Wsum[Wsum['SNF']!='T']

In [36]:
Wsum['SNF'].unique()

array([0.0, nan, '0', '0.9', '1.3', '1.2', '0.1', '0.2', '0.4', '0.3',
       '0.8', '0.6', '0.7', '0.5', '1', '1.1', '1.7', '1.5', '1.8', '2.1',
       '2.3', '2.6', '3', '3.2', '2.9', '2.5', '2', '1.9', '2.4', '2.2',
       '1.4', '3.1', '1.6', '3.4', '3.3', '2.7', 0.4, 0.3, 0.6, 0.1, 0.2,
       0.5], dtype=object)

In [37]:
Wsum['SNF']=Wsum['SNF'].astype(float)

In [38]:
Wsum['SNF'].isna().sum()

1163

In [39]:
Wsum['SNF'].median()

0.0

In [40]:
Wsum['SNF']=Wsum['SNF'].fillna(0.0)

In [41]:
Wsum.isna().sum()

STA            0
Date           0
Precip         0
MaxTemp        0
MinTemp        0
MeanTemp       0
Snowfall       0
YR             0
MO             0
DA             0
PRCP        1932
MAX            0
MIN            0
MEA            0
SNF            0
Month          0
Year           0
dtype: int64

In [42]:
Wsum[Wsum['PRCP']!='T']['PRCP'].astype(float).mean()

0.1506661882549934

In [43]:
rows_to_replace = Wsum['PRCP'].isin(['T'])

In [44]:
Wsum['PRCP'].loc[rows_to_replace] = 0.15

In [45]:
Wsum['PRCP'].unique()

array(['0.04', '0', '0.1', 0.15, '0.14', '0.02', '0.01', '0.07', '0.13',
       '0.03', '0.22', '0.2', '0.08', '1.01', '1.58', '0.75', '0.94',
       '0.16', '0.48', '0.11', '1.31', '0.76', '1.88', '0.25', '0.12',
       '0.33', '0.4', '1.07', '1.2', '1.78', '0.42', '0.61', '2.27',
       '2.29', '0.45', '1.23', '0.7', '1.06', '1.05', '0.26', '0.21',
       '0.19', '0.3', '0.34', '0.31', '0.49', '3.58', '0.53', '0.47',
       '0.23', '0.17', '0.24', '0.36', '0.18', '0.39', '0.38', '0.06',
       '0.55', '0.68', '1.32', '0.05', '0.54', '0.32', '0.88', '1.54',
       '1.42', '3.86', '0.15', '0.59', '3.08', '5.76', '0.58', '0.86',
       '4.76', '1.66', '0.92', '0.83', '1.77', '0.09', nan, '1.97',
       '0.69', '2.01', '0.28', '1', '0.29', '0.64', '1.84', '0.35',
       '0.97', '0.46', '0.67', '5.7', '0.71', '2', '4.19', '1.44', '2.1',
       '1.37', '0.51', '1.04', '3.37', '1.87', '0.5', '0.44', '2.33',
       '1.33', '1.61', '1.11', '0.98', '0.57', '2.82', '4.02', '1.24',
       '1.43', '1.49', '1.4', '1.25', '1.93', '2.75', '1.45', '0.77',
       '5.02', '2.55', '4.14', '0.63', '2.96', '5.65', '2.4', '2.7',
       '2.2', '0.93', '4.97', '2.77', '0.27', '0.66', '0.95', '2.08',
       '0.99', '2.94', '0.65', '2.56', '2.04', '0.52', '1.19', '1.18',
       '8.5', '0.84', '3.03', '1.16', '0.37', '0.62', '1.81', '1.62',
       '1.91', '1.3', '0.41', '0.74', '0.56', '2.69', '3.16', '2.79',
       '1.41', '0.9', '1.22', '0.82', '1.34', '0.79', '1.08', '2.45',
       '1.47', '2.18', '2.9', '0.72', '4.52', '2.22', '10.77', '1.09',
       '4.39', '3.99', '4.73', '4.59', '2.61', '1.29', '2.17', '1.21',
       '1.82', '2.68', '2.46', '2.86', '8.02', '0.6', '2.41', '1.92',
       '0.43', '2.15', '3.22', '1.5', '1.48', '0.73', '1.96', '1.27',
       '3.72', '2.67', '1.63', '0.89', '1.71', '1.1', '2.42', '1.02',
       '2.13', '2.07', '1.85', '7', '1.14', '4.7', '1.75', '3.36', '3.77',
       '3.62', '1.51', '1.56', '3.15', '1.59', '1.39', '3.49', '2.59',
       '5.37', '3.07', '4.6', '2.97', '2.74', '1.68', '1.55', '0.81',
       '1.57', '1.69', '1.52', '6.12', '5.54', '5.84', '0.78', '2.39',
       '3.82', '2.28', '2.87', '2.58', '2.83', '0.85', '0.87', '1.35',
       '1.38', '1.7', '1.99', '0.8', '2.78', '2.65', '1.12', '1.26',
       '1.89', '3', '1.46', '1.9', '1.73', '3.02', '2.05', '2.06', '4.74',
       '3.17', '2.5', '4.96', '4.58', '1.83', '3.01', '1.36', '1.67',
       '1.15', '3.2', '0.96', '2.31', '4.26', '6.84', '1.95', '8.87',
       '8.12', '6.38', '3.43', '3.47', '4.08', '3.26', '3.69', '1.13',
       '3.9', '2.44', '2.02', '4.37', '3.7', '4.23', '0.91', '3.64',
       '2.25', '3.31', '1.6', '2.47', '1.64', '1.28', '1.98', '1.03',
       '2.12', '2.91', '2.54', '1.53', '3.34', '4.09', '1.65', '2.24',
       '3.23', '2.62', '2.37', '2.09', '2.14', '1.8', '1.17', '1.72',
       '2.64', '2.76', '2.73', '3.42', '3.39', '2.3', '2.92', '2.71',
       '3.85', '1.76', '2.51', '2.21', '2.6', '3.38', '2.53', '3.35',
       '4.84', '1.74', '9.12', '3.27', '4.79', '2.23', '2.03', '4.47',
       '2.99', '4.03', '2.16', '3.11', '2.98', '3.73', '1.86', '2.93',
       '6', '2.81', '3.12', '5.12', '3.84', '3.91', '9.4', '4.05', '3.24',
       '3.71', '4.95', '2.34', '4.41', '7.18', '5', '3.48', '8.32',
       '3.25', '4.24', '2.89', '4.9', '6.45', '4.25', '2.48', '4.67',
       '5.38', '2.19', '3.98', '3.56', '2.26', '3.88', '3.57', '3.76',
       '6.28', '4.07', '5.49', '9.25', '5.25', '3.95', '2.49', '2.88',
       '3.21', '6.2', '2.52', '3.05', '3.04', '2.35', '2.8', '4.89',
       '2.36', '4.11', '9.97', '3.41', '1.94', '3.06', '4.87', '4.2',
       '3.83', '1.79', '4.98', '2.11', '4.88', '2.57', '3.65', '3.14',
       '6.56', '2.95', '3.75', '2.43', '5.85', '9.8', '3.96', '5.82',
       '10.12', '12.1', '7.25', '3.44', '5.31', '8.14', '4.36', '3.13',
       '2.66', '3.19', '3.52', '6.47', '4.01', '3.55', '5.3', '2.32',
       '3.3', '4.8', '2.72', '3.61', '2.38', '4.15', '5.63', '5.43',
       '3.46', '3.5', '4.44', '3.09', '2.84', '7.66', '4.43', '5.28',
       '5.07', '3.28', '3.81', '6.64', '3.1', '4.62', '3.18', '4.93',
       '7.19', '5.22', '8.26', '4.57', '3.51', '5.1', '3.79', '3.4',
       '4.63', '3.29', '3.66', '4.33', '3.63', '5.88', '2.63', '4.81',
       '9.18', '7.89', '4.92', '3.54', '5.51', '7.26', '3.6', '3.53',
       '3.97', '4', '4.71', '3.87', '3.74', '5.23', '3.32', '5.14',
       '3.93', '4.32', '3.59', '3.8', '4.18', '2.85', '4.12', '9.39',
       '5.48', '5.21', '4.45', '6.89', '4.91', '5.91', '4.94', '4.72',
       '5.27', '6.59', '4.51', '4.54', '3.33', '7.29', '4.13', '4.38',
       '6.49', '4.68', '6.6', '6.43', '4.4', '4.1', '7.65', '5.52',
       '4.34', '6.03', '6.5', '9.54', '6.09', '4.17', '5.24', '6.34'],
      dtype=object)